.leftbar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: rgb(17, 102, 17);
}

.login-container {
    text-align: center;
}

.leftbar-wrapper a {
    text-decoration: none;
}

.logo {
    color: rgb(220, 220, 220);
}

.logo::first-letter {
    color: greenyellow;
    font-size: 40px;
    padding: 0 5px 0 5px;
    background: black;
}

.channel-list {
    font-size: 22px;
    padding: 0;
}

.channel-list li {
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    padding: 8px 0;
}