.reg-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-container-register {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(62, 165, 62);
}

#reg-btn {
    width: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#log-btn {
    position: absolute;
    top: 272px;
    right: 417px;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-container input {
    background: transparent;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 0px;
    width: 98%;
    margin-left: 5px;
}

::placeholder {
    color: white;
}