.reg-page-wrapper {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center; */
    height: 800px;
}

.form-container-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    width: 75%;
    padding-left: 80px;
    background-color: rgb(255, 250, 232);
}

#reg-page-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(62, 165, 62);
}

#reg-btn {
    width: 45%;
    border: 1px solid black;
    background: rgb(255, 250, 232);
    margin-top: 10px;
    margin-bottom: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.login-message {
    text-align: right;
    padding: 5px 5px 0 0;
    font-size: 14px;
}

#log-btn {
    position: absolute;
    top: 229px;
    right: 0px;
    width: 100px;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-container-register input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 0px;
    height: 30px;
    line-height: 25px;
}

::placeholder {
    color: white;
}

.add-image-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 10px 20px;
}

#upload-img {
    width: 200px;
    height: 200px;
}