.rightbar-wrapper {
    /* position: absolute; */
    width: 30%;
    right: 0;
    bottom: 0;
    top: 45px;
    
    background-color: rgb(136, 204, 136);
}

#close-btn {
    position: absolute;
    top: 55px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}