.roomlist-container {
    width: 80%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(62, 165, 62);
}

.roomlist-container ul {
    list-style-type: none;
    margin: 10px 0;
    padding:0;
}

.roomlist-container li.current {
    background-color: greenyellow;
}

.roomlist-container li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
}

.unread {
    width: 20px;
    height: 20PX;
    text-align: center;
    line-height: 20px;
    background: red;
    border-radius: 50%;
}

.roomlist-container li:hover {
    padding-left: 5px;
    background-color: rgb(153, 255, 0);
}

#add-room-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: green;
}

.room-input {
    width: 80%;
    border: none;
    background: transparent;
    padding: 5px 0 5px 5px;
    outline: none;
}

#add-room-btn {
    background: transparent;
    border: none;
    outline: none;
    padding-right: 10px;
}

