.roomlist-container {
    width: 80%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(62, 165, 62);
}

.roomlist-container ul {
    list-style-type: none;
    margin: 10px 0;
    padding:0;
}

.roomlist-container li.current {
    background-color: greenyellow;
}

.roomlist-container li {
    cursor: pointer;
    padding: 5px;
}

.roomlist-container li:hover {
    padding-left: 5px;
    background-color: rgb(153, 255, 0);
}

#add-room-form {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

.room-input {
    width: 80%;
    border: none;
    background: transparent;
    padding: 5px 0 5px 5px;
    outline: none;
}

button {
    background: transparent;
    border: none;
}

